{% extends "home/base.html" %}
{% load i18n static %}
{% block main-content %}

<!-- MAIN -->
<!-- Container -->

<div id="container">
    <!-- Content -->

    <div id="content" class="flex content-modify">

        <div id="content-main">

<!--            <a href="{% url 'species:addspecie'%}" class="addlink">-->
<!--                Adicionar Especie-->
<!--            </a>-->
<!--            <br>-->
            <br>
            <div class="module filtered" id="changelist">


                <div id="toolbar">
                    <form id="changelist-search" method="get">
                        <div><!-- DIV needed for valid HTML -->
                            <!--label for="searchbar"><img src="{% static 'specie/search.svg' %}" alt="Search"></label-->
                            <input type="text" size="50" name="q" id="searchbar" autofocus="" style="height: 33px;">
                            <input type="submit" value="Search" class="search-input" style="height: 33px;">
                            <input type="hidden" name="o" value="">
                        </div>
                    </form>

                </div>


                <div id="changelist-filter">
                    <h2>Filtro</h2>

                    <h3> Por habitat </h3>
                    <ul>
                        <li class="selected"> <a href="?o=" title="All">Todos</a></li>
                        <li> <a href="" title="Esgoto">Terrestre</a></li>
                        <li> <a href="" title="RE">Marinho</a></li>
                    </ul>

                    <h3> Por Data Registo </h3>
                    <ul>
                        {% for key, value in filter.items %}
                            <li> <a href="{{key}}" title="Any date">{{value}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul>
                        <li> <a> Busca Avançada </a> </li>

                    </ul>
                </div>

                <div>
                    <a> <strong><u>Ver no mapa</u></strong></a>
                </div>

                <form id="changelist-form" method="post" novalidate="">

                    {% csrf_token %}
                    <!--div-- class="actions">
                        <label>Action:
                            <select name="action" required="">
                                <option value="" selected="selected">---------</option>
                                <option value="delete_selected">Delete selected species</option>
                            </select>
                        </label>

                        <input type="hidden" name="select_across" value="0" class="select-across">
                        <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>

                        <span class="action-counter" data-actions-icnt="1" style="display: inline;">0 of 1 selected</span>
                        <span class="all">All 2 selected</span>
                        <span class="question">
                            <a href="#" title="Click here to select the objects across all pages">Select all 2 species</a>
                        </span>
                        <span class="clear"> <a href="#">Clear selection</a></span>
                    </div-->

                    <div class="results">
                        <table id="result_list">
                            <thead>
                                <tr>
                                    <th scope="col" class="action-checkbox-column">
                                        <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                                        <div class="clear"></div>
                                    </th>

                                    {% for key,header in header_list.items %}
                                        <th scope="col" class="sortable column-specie">
                                            <div class="text"><a href="{# url 'species:index' o=key #}">{{ header|capfirst }}</a></div>
                                            <div class="clear"></div>
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>

                            <tbody>
                                {% for data in results_list%}
                                    <tr class="row1">
                                        <td class="action-checkbox">
                                            <input type="checkbox" name="_selected_action" value="{{data.id_specie}}" class="action-select">
                                        </td>
                                        <th class="field-specie">
                                            <a href="{% url 'species:detail' pk=data.id_specie %}">
                                                {{data.specie}}
                                            </a>
                                        </th>
                                        <td class="field-habitat">
                                            {{data.habitat}}
                                        </td>
                                        <td class="field-detail">
                                            {{data.detail}}
                                        </td>
                                        <td class="field-common_name">
                                            {{data.common_name}}
                                        </td>
                                        <td class="field-gender nowrap">
                                            {{data.gender}}
                                        </td>
                                        <td class="field-date_created nowrap">
                                            {{data.date_created}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <p class="paginator">
                        {{results_list.size}} species
                    </p>

                </form>
            </div>
        </div>

        <br class="clear">
    </div>
    <!-- END Content -->

</div>
<!-- END Container -->
{% endblock %}





