{% extends "home/base.html" %}
{% load i18n static %}
  {% block main-content %}
    <!-- MAIN -->

    <main role="main">
      <!-- Content -->
      <article>
        <div class="section background-white">
          <div class="line">
            <div class="margin text-center">
              {% for specie in species_list %}
                  <div class="s-12 m-12 l-4 margin-bottom">
                    <div class="padding-2x block-bordered border-radius">
                      <i class="icon-paperplane_ico icon2x text-primary margin-bottom-30"></i>
                      <h2 class="text-thin">{{ specie.common_name }}</h2>
                      <p class="margin-bottom-30">{{specie.description}}</p>
                      <a class="button border-radius background-primary text-size-12 text-white text-strong" href="/">GET MORE INFO</a>
                    </div>
                  </div>
              {% endfor %}

            </div>
            {% if result_hidden_fields %}
<div class="hiddenfields">{# DIV for HTML validation #}
{% for item in result_hidden_fields %}{{ item }}{% endfor %}
</div>
{% endif %}
{% if results %}
<div class="results">
<table id="result_list">
<thead>
<tr>
{% for header in result_headers %}
<th scope="col" {{ header.class_attrib }}>
       <div class="sortoptions">
         <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
         <span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header }}</span>
         <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
       </div>
   <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}</div>
   <div class="clear"></div>
</th>{% endfor %}
</tr>
</thead>
<tbody>
{% for result in results %}
    <tr>
        <td colspan="{{ result|length }}">{{ result.specie }}</td>
        <td colspan="{{ result|length }}">{{ result.date_created }}</td>
        <td colspan="{{ result|length }}">{{ result.habitat }}</td>
        <td colspan="{{ result|length }}">{{ result.common_name }}</td>
    </tr>

<tr class="{% cycle 'row1' 'row2' %}"></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
          </div>

        </div>
      </article>
    </main>
  {% endblock %}