{% extends 'layouts/base.html' %}

{% block title %} Delete {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-md-8" style="background-color: #1f7301;">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Aviso</h5>
                        <br>
                        <form method="post">{% csrf_token %}
                            <input class="form-control form-control-static" disabled value='Voce tem certeza de que deseja apagar {{ object }}?'>
                            <br>
                            <input class="btn btn-primary btn-danger" type="submit" value="Confirm">
                            <a class="btn btn-primary btn-default" href="{% url 'species:index' %}" >Cancelar</a>
                        </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">



      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
