{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 100px; background-size: cover; background-position: center top; background-color: #1f7301;" >
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="/static/assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4">Editar</a>
                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Especies</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Comentarios</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Imagens</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ request.user.username }}
                </h3>
                <div class="h5 font-weight-300">
                  {{ request.user.email }}
                </div>
                <hr class="my-4" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Especie</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{% url 'species:edit' pk=specie.id_specie%}" class="btn btn-sm btn-primary">editar</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="get" enctype="multipart/form-data">
                {% csrf_token %}

                <h6 class="heading-small text-muted mb-4">Informacao da Especie</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Nome cientifico</label>
                        <input disabled type="text" id="input-username" class="form-control form-control-alternative" placeholder="{{specie.specie}}"
                               value="{{specie.specie}}" name="specie">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Nome comum</label>
                        <input disabled type="email" id="input-email" class="form-control form-control-alternative"
                               placeholder="{{specie.common_name}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Data de registo</label>
                        <input disabled type="text" id="input-first-name" class="form-control form-control-alternative"
                          value="{{specie.date_created}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Habitat</label>
                        <input disabled type="text" id="input-last-name" class="form-control form-control-alternative"
                          value="{{specie.habitat}}">
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Detalhes</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>Outras informacoes</label>
                    <textarea disabled rows="4" class="form-control form-control-alternative" >
                      {{specie.detail}}
                    </textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
